<a href="https://colab.research.google.com/github/nedokormysh/GB_NLP_intro/blob/lesson2/NLP_intro_hw_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 Тема «Создание признакового пространства»

Продолжим обработку данных с Твиттера.

In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('https://github.com/nedokormysh/GB_NLP_intro/blob/lesson1/all_df.pkl?raw=true')
df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesti]"
3,4,0.0,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t...","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguid, societi, motiv]"

## 1. Создайте мешок слов с помощью
sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed'
и 'tweet_lemmatized' отдельно.

● Игнорируем слова, частота которых в документе строго превышает порог 0.9 с
помощью max_df.

● Ограничим количество слов, попадающий в мешок, с помощью max_features =
1000.

● Исключим стоп-слова с помощью stop_words='english'.

● Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с
помощью CountVectorizer.get_feature_names().

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

Для tweet_stemmed

In [4]:
df['tweet_stemmed'] = df.tweet_stemmed.apply(lambda row: ' '.join(word for word in row))
  
# Создание мешка слов для 'tweet_stemmed' с помощью CountVectorizer

vectorizer_stemmed = CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)
bag_of_words_stemmed = vectorizer_stemmed.fit_transform(df['tweet_stemmed'])

# Отобразим Bag-of-Words модель как DataFrame
feature_names = vectorizer_stemmed.get_feature_names()
pd.DataFrame(bag_of_words_stemmed.toarray(), columns = feature_names)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Для 'tweet_lemmatized'

In [5]:
df['tweet_lemmatized'] = df.tweet_lemmatized.apply(lambda row: ' '.join(word for word in row))
  
# Создание мешка слов для 'tweet_lemmatized' с помощью CountVectorizer

vectorizer_lemmatized = CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)
bag_of_words_lemmatized = vectorizer_lemmatized.fit_transform(df['tweet_lemmatized'])

# Отобразим Bag-of-Words модель как DataFrame
feature_names = vectorizer_lemmatized.get_feature_names()
pd.DataFrame(bag_of_words_lemmatized.toarray(), columns = feature_names)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 2. Создайте мешок слов с помощью
sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и
'tweet_lemmatized' отдельно.

● Игнорируем слова, частота которых в документе строго превышает порог 0.9 с
помощью max_df.

● Ограничим количество слов, попадающий в мешок, с помощью max_features =
1000.

● Исключим стоп-слова с помощью stop_words='english'.

● Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с
помощью TfidfVectorizer.get_feature_names().

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

Для tweet_stemmed

In [7]:
tfidf_vectorizer_stemmed = TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000)
values_stemmed = tfidf_vectorizer_stemmed.fit_transform(df['tweet_stemmed'])

# Show the Model as a pandas DataFrame
feature_names = tfidf_vectorizer_stemmed.get_feature_names()
pd.DataFrame(values_stemmed.toarray(), columns = feature_names)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.744148,0.392399,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
49155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
49156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
49157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
49158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

Для 'tweet_lemmatized'

In [8]:
tfidf_vectorizer_lemmatized = TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000)
values_lemmatized = tfidf_vectorizer_lemmatized.fit_transform(df['tweet_lemmatized'])

feature_names = tfidf_vectorizer_lemmatized.get_feature_names()
pd.DataFrame(values_lemmatized.toarray(), columns = feature_names)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.744156,0.392404,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
49155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
49156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
49157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
49158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

## 3. Проверьте ваши векторайзеры на корпусе который использовали на вебинаре, составьте
таблицу метод векторизации и скор который вы получили (в методах векторизации по
изменяйте параметры что бы добиться лучшего скора) обратите внимание как
падает/растёт скор при уменьшении количества фичей, и изменении параметров, так же
попробуйте применить к векторайзерам PCA для сокращения размерности посмотрите на
качество сделайте выводы

In [9]:
# Загружаем данные
data = open('./corpus').read()
labels, texts = [], []
for i, line in enumerate(data.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))

# создаем df
trainDF = pd.DataFrame()
trainDF['text'] = texts
trainDF['label'] = labels
trainDF.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [10]:
from sklearn import model_selection, preprocessing, linear_model
# from sklearn.metrics import accuracy_score
from sklearn.metrics import *

In [11]:
train_x, valid_x, train_y, valid_y = model_selection.train_test_split(trainDF['text'], trainDF['label'])

# labelEncode целевую переменную
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)

In [12]:
results_df = pd.DataFrame(columns=['name_of_vectorizer_with_parameters', 'score'])
results_df

Empty DataFrame
Columns: [name_of_vectorizer_with_parameters, score]
Index: []

In [13]:
vectorizers = [
               vectorizer_stemmed,
               vectorizer_lemmatized,
               tfidf_vectorizer_lemmatized,
               tfidf_vectorizer_stemmed
               ]

for v in vectorizers:
  v.fit(trainDF['text'])

  xtrain_count =  v.transform(train_x)
  xvalid_count =  v.transform(valid_x)

  classifier = linear_model.LogisticRegression()
  classifier.fit(xtrain_count, train_y)
  predictions = classifier.predict(xvalid_count)

  acc_score = accuracy_score(valid_y, predictions)
  results_df = results_df.append({'name_of_vectorizer_with_parameters': v, 
                   'score': acc_score
                   }, ignore_index=True)

In [14]:
results_df

                  name_of_vectorizer_with_parameters     score
0  CountVectorizer(max_df=0.9, max_features=1000,...  0.812749
1  CountVectorizer(max_df=0.9, max_features=1000,...  0.812749
2  TfidfVectorizer(max_df=0.9, max_features=1000,...  0.819579
3  TfidfVectorizer(max_df=0.9, max_features=1000,...  0.819579

In [15]:
count_vectorizer = CountVectorizer(max_df=0.9)
count_vectorizer_2_feats = CountVectorizer(max_df=0.9, max_features=1000)
count_vectorizer_3_feats = CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)

tfidf_vectorizer = TfidfVectorizer(max_df=0.9)
tfidf_vectorizer_2_feats = TfidfVectorizer(max_df=0.9, max_features=1000)
tfidf_vectorizer_3_feats = TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000) 


vectorizers = [count_vectorizer,
               count_vectorizer_2_feats,
               count_vectorizer_3_feats,
               tfidf_vectorizer,
               tfidf_vectorizer_2_feats,
               tfidf_vectorizer_3_feats,
              #  vectorizer_stemmed,
              #  vectorizer_lemmatized,
              #  tfidf_vectorizer_lemmatized,
              #  tfidf_vectorizer_stemmed
               ]

for v in vectorizers:
  v.fit(trainDF['text'])

  xtrain_count =  v.transform(train_x)
  xvalid_count =  v.transform(valid_x)

  classifier = linear_model.LogisticRegression()
  classifier.fit(xtrain_count, train_y)
  predictions = classifier.predict(xvalid_count)

  acc_score = accuracy_score(valid_y, predictions)
  results_df = results_df.append({'name_of_vectorizer_with_parameters': v, 
                   'score': acc_score
                   }, ignore_index=True)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
pd.set_option('max_colwidth', 120)
results_df

,name_of_vectorizer_with_parameters,score
0,"CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.812749
1,"CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.812749
2,"TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.819579
3,"TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.819579
4,CountVectorizer(max_df=0.9),0.849175
5,"CountVectorizer(max_df=0.9, max_features=1000)",0.821286
6,"CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.812749
7,TfidfVectorizer(max_df=0.9),0.862265
8,"TfidfVectorizer(max_df=0.9, max_features=1000)",0.844052
9,"TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.819579

Окончательный результат.

In [17]:
results_df.sort_values(by='score', ascending=False)

,name_of_vectorizer_with_parameters,score
7,TfidfVectorizer(max_df=0.9),0.862265
4,CountVectorizer(max_df=0.9),0.849175
8,"TfidfVectorizer(max_df=0.9, max_features=1000)",0.844052
5,"CountVectorizer(max_df=0.9, max_features=1000)",0.821286
2,"TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.819579
3,"TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.819579
9,"TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.819579
0,"CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.812749
1,"CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.812749
6,"CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')",0.812749

Лучше всего проявили себя модели только одним параметром max_df. При этом существенной разницы между CountVectorizer и TfIDf подходами не наблюдаю. Впрочем, самый лучший результат был как раз у TFIdf варианта.

И векторизирование на другом корпусе даёт результаты хуже.

## PCA

In [18]:
# from sklearn.decomposition import PCA
 
# pca = PCA(n_components=3)
 
# pca_features = pca.fit_transform(X)
 
# print('Shape before PCA: ', X.shape)
# print('Shape after PCA: ', pca_features.shape)

In [19]:
from sklearn.decomposition import TruncatedSVD

In [20]:
values = tfidf_vectorizer.fit_transform(trainDF['text'])
values.shape

(7027, 26054)

In [22]:
# CountVectorizer
res = pd.DataFrame()

for n_components in [1000, 3000, 5000]:
    svd = TruncatedSVD(n_components=n_components)
    
    xtrain_count =  count_vectorizer.transform(train_x)
    xvalid_count =  count_vectorizer.transform(valid_x)

    xtrain_count_pca =  svd.fit_transform(xtrain_count)
    xvalid_count_pca =  svd.transform(xvalid_count)

    classifier = linear_model.LogisticRegression()
    classifier.fit(xtrain_count_pca, train_y)
    
    predictions = classifier.predict(xvalid_count_pca)
    
    res = res.append(
        pd.DataFrame([[str(n_components), accuracy_score(valid_y, predictions)]], columns=['# Components', 'Score'])
    )
res.sort_values('Score', ascending=False, inplace=True)
res.head()

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

  # Components     Score
0         5000  0.848606
0         3000  0.845760
0         1000  0.842345

In [23]:
#TFiDf 
res = pd.DataFrame()

for n_components in [1000, 3000, 5000]:
    svd = TruncatedSVD(n_components=n_components)
    
    xtrain_count =  tfidf_vectorizer.transform(train_x)
    xvalid_count =  tfidf_vectorizer.transform(valid_x)

    xtrain_count_pca =  svd.fit_transform(xtrain_count)
    xvalid_count_pca =  svd.transform(xvalid_count)

    classifier = linear_model.LogisticRegression()
    classifier.fit(xtrain_count_pca, train_y)
    
    predictions = classifier.predict(xvalid_count_pca)
    
    res = res.append(
        pd.DataFrame([[str(n_components), accuracy_score(valid_y, predictions)]], columns=['# Components', 'Score'])
    )
res.sort_values('Score', ascending=False, inplace=True)
res.head()

  # Components     Score
0         5000  0.861127
0         3000  0.860558
0         1000  0.856574

В целом уменьшение количества признаков не сильно повлияло на скор.

# 2.

In [ ]:
positive = pd.read_csv('positive.csv', sep=';', usecols=[3], names=['text'])
positive['label'] = ['positive'] * len(positive)
negative = pd.read_csv('negative.csv', sep=';', usecols=[3], names=['text'])
negative['label'] = ['negative'] * len(negative)
df = positive.append(negative)